<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <img width="300" alt="FK8 Logo" src="../assets/img/fk8.png">
</div>
<h2>All the people of the world are friends!</h2>
<h3>FK8 loves all of you <i style="color: red;">♥</i></h3>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://fk8.ir">Website</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="mailto:faridkarami71@gmail.com">Email</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://linkedin.com/in/faridkarami">Linkedin</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://instagram.com/faridkarami8">Instagram</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
